:root {
  --font-primary: 'PP Neue Regular', sans-serif;

  --color-primary: #1f1f1f;
  --color-secondary: #ffffff;

  --color-background--light: #ffffff;
  --color-background--beige: #f4f3f1;
  --color-background--dark: #1f1f1f;

  --color-button--dark: #1f1f1f;
  --color-button--dark--hover: #1f1f1f;

  --color-button--light: #ffffff;
  --color-button--light--hover: #737373;

  --color-button-text--dark: #1f1f1f;
  --color-button-text--light: #ffffff;

  --color-text--dark: #1f1f1f;
  --color-text--light: #aaaaaa;
  --color-text--white: #ffffff;

  --desktop-width: 1440;
  --mobile-width: 430;
}
