//Abstracts
@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/mixins';

//Base
@import 'base/reset';
@import 'base/animation';
@import 'base/base';
@import 'base/container';
@import 'base/section';
@import 'base/typography';
@import 'base/animation';
@import 'base/grid';

////Components
@import 'components/button';
//@import 'components/image-wrapper';
//@import 'components/parallax-image';

//Layout
@import 'layout/header';
@import 'layout/hero';
@import 'layout/text-columns';
@import 'layout/projects';
@import 'layout/list';
@import 'layout/company';
@import 'layout/image-grid';
@import 'layout/footer';
